<!DOCTYPE html>

<html>

<head>
    <title>About</title>
        <link rel="icon" href="/image/weather.png">
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body >
    <div class="main-content">
        {{>header}}
        <p>This site wa created by Wei Wang. Its uses data from weather stack </p>
    <img class="portrait" src="/image/me.png">
    </div>

    {{>footer}}

</body>

</html>